Repository nium-global/nium-openapi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alixodendhal, @k-talluri, @KM-Nium

.github/CODEOWNERS:

*.yaml @alixodendhal @k-talluri
readme.md @alixodendhal @k-talluri
.github/* @alixodendhal @k-talluri
changelog.md @KM-Nium

Update nium.yaml
  nium.yaml
Owners: @alixodendhal, @k-talluri

Update nium.yaml (#25)
  nium.yaml
Owners: @alixodendhal, @k-talluri

- API spec release updated to 2026.4.14
  nium.yaml
Owners: @alixodendhal, @k-talluri

- API spec release updated to 2026.4.14 (#26)
  nium.yaml
Owners: @alixodendhal, @k-talluri

- API spec release updated to 2026.4.28
  nium.yaml
Owners: @alixodendhal, @k-talluri

- API spec release updated to 2026.4.28 (#28)
  nium.yaml
Owners: @alixodendhal, @k-talluri

- API spec release updated to 2026.7.7
  changelog.md
  nium.yaml
Owners: @KM-Nium, @alixodendhal, @k-talluri

Notes added by 'git notes add'
  fc673de3643eedcbabe6b1cfdc62a0aae3df0472
Owners: none

Client user management APIs added & V5 API changes
  nium.yaml
Owners: @alixodendhal, @k-talluri

Notes added by 'git notes add'
  fe8dc17cda2f80de89846ac78b0ee3ff31910cf7
Owners: none

- API spec release updated to 2026.7.22
  nium.yaml
Owners: @alixodendhal, @k-talluri

Notes added by 'git notes add'
  0a84fa43c13d365f58e8f3946c84e550831c2ff4
Owners: none

Release 2026 7 22 (#31)
  changelog.md
  nium.yaml
Owners: @KM-Nium, @alixodendhal, @k-talluri

NM-1503 Error code response unification
  nium.yaml
Owners: @alixodendhal, @k-talluri

Notes added by 'git notes add'
  d4989c809d460573b3d113b08c24d8095f5cb1aa
Owners: none

Report request body fixed
  nium.yaml
Owners: @alixodendhal, @k-talluri

Notes added by 'git notes add'
  34359d6dff683d9a1faba0390a348701b7ec4d17
Owners: none

NM-1503 Error code response unification (#32)
  nium.yaml
Owners: @alixodendhal, @k-talluri

Notes added by 'git notes copy'
  cfd44acedbfde3bcf8e7999cccebd43dd9206166
Owners: none

Notes added by 'git notes add'
  cfd44acedbfde3bcf8e7999cccebd43dd9206166
Owners: none

NM-1521 - API spec release updated to 2026.8.27
  nium.yaml
Owners: @alixodendhal, @k-talluri

Notes added by 'git notes add'
  13228edc70d3166cdbf407b2983426820b1235c7
Owners: none

NM-1521 - API spec release updated to 2026.8.27 (#33)
  nium.yaml
Owners: @alixodendhal, @k-talluri
